In [1]:
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [22]:
for num in range(10,20):
    print(num, end=" ")

10 11 12 13 14 15 16 17 18 19

In [23]:
list2=[10,20,14,55,43,87,76]
for li 
print(len(list2))

SyntaxError: invalid syntax (4201327409.py, line 2)

In [25]:
print("Artifical Intelligence")
S= "Artifical intellgence"
for i in S:
    print(i)

Artifical Intelligence
A
r
t
i
f
i
c
a
l

i
n
t
e
l
l
g
e
n
c
e

In [26]:
print("-Your Name-")
print("-Your age-")
print("-Your Profession-")

-Your Name-
-Your age-
-Your Profession-

In [27]:
Tuple1=(1,'Welcome',2, 'Hope')
print(Tuple1)

(1, 'Welcome', 2, 'Hope')

In [28]:
Tuple1=(0,1,2,3)
Tuple2=('python','HOPE')
Tuple3=(Tuple1, Tuple2)
print(Tuple3)

((0, 1, 2, 3), ('python', 'HOPE'))

In [48]:
list1=[20,10,16,19,25,1,276,188]
for num in list1:
    if num%2!=0:
        print(num,end ="is odd\n")

19is odd
25is odd
1is odd

In [50]:
list1=[20,10,16,19,25,1,276,188]
for num in list1:
    if num%2!=1:
        print(num,end="is even\n")

20is even
10is even
16is even
276is even
188is even